<div class="containerLista">
  <ng-container *ngIf="listaConsulta.length > 0, else semConsulta">
    <h1 class="tituloPagina">Lista de consultas</h1>
    <div class="containerPesquisa">
      <div class="containerInput">
        <label for="cpf">Pesquisa por CPF: </label>
          <input
          type="text"
          name="cpf"
          id="cpf"
          placeholder="Inserir o cpf para pesquisa"
          [(ngModel)]="cpfConsulta"
          >
      </div>
        <div class="containerBotoesPesquisa">
          <button class="botaoPesquisa" (click)="pesquisarPorCpf()">Pesquisar</button>
          <button class="botaoLimpar" (click)="limparPesquisa()">Limpar pesquisa</button>
        </div>
    </div>
    <table class="TabelaLista">
      <tr>
        <th>ID</th>
        <th>Nome e CPF do paciente</th>
        <th>Nome e CRM do médico</th>
        <th>Especialidade</th>
        <th>Data e hora</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let consulta of listaConsulta">
        <td>{{consulta.id}}</td>
        <td>{{consulta.paciente.nome}} - {{consulta.paciente.cpf}}</td>
        <td>{{consulta.medico.nome}} - {{consulta.medico.crm}}</td>
        <td>{{consulta.especialidade.nome}}</td>
        <td>{{horarioTela}}</td>
        <td class="celulaAcoes">
          <Button class="botaoExcluir" (click)="deletarConsulta(consulta.id !== undefined ? consulta.id : 0)">Excluir consulta</Button>
          <Button class="botaoAtualizar" routerLink="/atualizar/consulta/{{consulta.id}}">Atualizar consulta</Button>
        </td>
      </tr>
    </table>
  </ng-container>
</div>

<ng-template #semConsulta>
  <p>Não há consultas</p>
</ng-template>
