<div class="containerCadastroExt">
  <h1 class="tituloPagina">Atualização de paciente</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="nome">Nome: </label>
      <input
      type="text"
      name="nome"
      id="nome"
      placeholder="Inserir o nome do paciente"
      [(ngModel)]="paciente.nome"
      ngModel
      required
      #nomeInput="ngModel"
      disabled
      >
    </div>

    <div class="containerInput">
      <label for="dataNascimento">Data de nascimento: </label>
      <input
      type="date"
      name="dataNascimento"
      id="dataNascimento"
      placeholder="Inserir a data de nascimento do paciente"
      [(ngModel)]="paciente.dataNascimento"
      ngModel
      required
      #dataNascimentoInput="ngModel"
      disabled
      >
    </div>

    <div class="containerInput">
      <label for="cpf">CPF: </label>
      <input
      type="text"
      name="cpf"
      id="cpf"
      placeholder="Inserir o CPF do paciente"
      [(ngModel)]="paciente.cpf"
      required
      pattern="^\d{11}$"
      #cpfInput="ngModel"
      disabled
      >
    </div>

    <div class="containerInput">
      <label for="sexo">Sexo: </label>
      <select id="sexo" name="sexo" [(ngModel)]="paciente.sexo"
      ngModel
      required
      #escolhaInput="ngModel"
      disabled
      >
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
    </select>
    </div>

    <div class="containerInput">
      <label for="alergias">Alergias: </label>
      <input
      type="text"
      name="alergias"
      id="alergias"
      placeholder="Alergias do paciente"
      [(ngModel)]="paciente.alergias"
      disabled
      >
    </div>

    <div class="containerInput">
      <label for="medicamentos">Medicamentos: </label>
      <input
      type="text"
      name="medicamentos"
      id="medicamentos"
      placeholder="Medicamentos que o paciente faz uso"
      [(ngModel)]="paciente.medicamentos"
      disabled
      >
    </div>

    <button class="botaoRetorno" routerLink="/menu-paciente">Voltar para o menu anterior</button>
  </div>
</div>
