<header class="cabecalho">
  <div class="container_logo">
    <img class="imagem_logo" src="../../../assets/imagens/magna_sistemas_logo.jpg" alt="Logo da Magna Sistemas" >
  </div>
  <div class="container_botoes">
    <button class="botao_navbar" routerLink="/home">Home Page</button>
    <button class="botao_navbar" routerLink="/consulta">Consultas</button>
    <button class="botao_navbar" routerLink="/medico">Médicos</button>
    <button class="botao_navbar" routerLink="/especialidade">Especialidades</button>
    <button class="botao_navbar" routerLink="/paciente">Pacientes</button>
    <button (click)="logout()" class="botao_navbar botao_navbar_logout">Log out</button>
  </div>
</header>
