<header class="cabecalho">
  <div class="container_logo">
    <img class="imagem_logo" src="../../../assets/imagens/magna_sistemas_logo.jpg" alt="Logo da Magna Sistemas" >
  </div>
  <div class="container_botoes">
    <button class="botao_navbar" routerLink="">Consultas</button>
    <button class="botao_navbar" routerLink="">Médicos</button>
    <button class="botao_navbar" routerLink="">Especialidades</button>
    <button class="botao_navbar" routerLink="">Pacientes</button>
  </div>
</header>
