<div class="containerCadastroExt">
  <h1 class="tituloPagina">Cadastro de médico</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="nome">Nome: </label>
      <input
      type="text"
      name="nome"
      id="nome"
      placeholder="Inserir o nome do médico"
      [(ngModel)]="medico.nome"
      ngModel
      required
      #nomeInput="ngModel"
      >
    </div>

    <div *ngIf="nomeInput?.touched && nomeInput?.invalid">
      <app-mensagem-erro mensagem="O nome do médico deve ser preenchido"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="crm">CRM: </label>
      <input
      type="textarea"
      name="crm"
      id="crm"
      placeholder="Inserir o CRM do médico"
      [(ngModel)]="medico.crm"
      required
      pattern="^\d{6}$"
      #crmInput="ngModel"
      >
    </div>

    <div *ngIf="crmInput?.touched && crmInput?.invalid">
      <app-mensagem-erro *ngIf="crmInput?.errors?.['required']"  mensagem="O CRM deve ser preechido"></app-mensagem-erro>
      <app-mensagem-erro *ngIf="crmInput?.errors?.['pattern']" mensagem="O CRM deve conter apenas 6 dígitos númericos"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="especialidades">Especialidades: </label>
      <input
      type="text"
      name="especialidades"
      id="especialidades"
      placeholder="Inserir os valores dos IDs das especialidades do médico, separados por vírgula"
      [(ngModel)]="valorEspecialidades"
      ngModel
      required
      #espInput="ngModel"
      >
    </div>

    <div *ngIf="espInput?.touched && espInput?.invalid">
      <app-mensagem-erro *ngIf="espInput?.errors?.['required']" mensagem="O Campo de especialidade deve ser preechido"></app-mensagem-erro>
    </div>

    <div *ngIf="mensagemErro.length > 0">
      <app-mensagem-erro mensagem="{{mensagemErro}}"></app-mensagem-erro>
    </div>

    <button class="botaoCadastrar" (click)="cadastrarMedico()"
    [disabled]="nomeInput?.invalid || espInput?.invalid || crmInput?.invalid"
    >Cadastrar médico</button>
  </div>
</div>
