<div class="containerCadastroExt containerLoginExt">
  <h1 class="tituloPagina">Bem vindo à Clínica Magna</h1>
  <div class="containerCadastro">
    <h1 class="tituloPagina">Login</h1>
    <form>
      <div class="containerInput">
        <label for="usuario">Usuário: </label>
        <input
        type="text"
        name="usuario"
        id="usuario"
        placeholder="Inserir o nome de usuário"
        [(ngModel)]="usuario"
        ngModel
        required
        #usuarioLogin="ngModel"
        >
      </div>
      <div *ngIf="usuarioLogin?.invalid && usuarioLogin?.touched">
        <app-mensagem-erro mensagem="É necessário preencher o campo de usuário"></app-mensagem-erro>
      </div>
      <div class="containerInput">
        <label for="senha">Senha: </label>
        <input
        type="password"
        name="senha"
        id="senha"
        placeholder="Inserir a senha"
        [(ngModel)]="senha"
        ngModel
        required
        #senhaLogin="ngModel"
        >
      </div>
      <div *ngIf="senhaLogin?.invalid && senhaLogin?.touched">
        <app-mensagem-erro mensagem="É necessário preencher o campo de senha"></app-mensagem-erro>
      </div>
      <div *ngIf="mensagemErroAuten">
        <app-mensagem-erro mensagem="{{mensagemErroAuten}}"></app-mensagem-erro>
      </div>
      <button class="botaoCadastrar" (click)="fazerLogin()"
      [disabled]="senhaLogin.invalid || usuarioLogin.invalid"
      >Fazer login</button>
    </form>
  </div>
</div>
