<div class="containerCadastroExt">
  <h1 class="tituloPagina">Atualização de consulta</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="idConsulta">ID da consulta: </label>
      <input type="number" name="idConsulta" id="idConsulta" placeholder="Inserir o ID da consulta" disabled
        [(ngModel)]="consulta.id">
    </div>


    <div class="containerInput">
      <label for="idPaciente">CPF e nome do paciente: </label>
      <input type="number" name="text" id="idPaciente" placeholder="{{cpfPaciente}} - {{nomePaciente}}" disabled>
    </div>

      <div class="containerInput">
        <label for="idMedico">Médico: </label>
          <select name="idMedico" id="idMedico" [(ngModel)]="idMedico"
          ngModel
          required
          #escolhaMedico="ngModel"
          >
            <option *ngFor="let medico of listaMedico" value={{medico.id}}
            >{{medico.nome}} - {{medico.crm}}</option>
          </select>
      </div>
      <div *ngIf="escolhaMedico?.invalid && escolhaMedico?.touched">
        <app-mensagem-erro mensagem="É necessário escolher quem é o médico"></app-mensagem-erro>
      </div>

      <div class="containerInput">
        <label for="idEspecialidade">Especialidade: </label>
          <select name="idEspecialidade" id="idEspecialidade" [(ngModel)]="idEspecialidade"
          ngModel
          required
          #escolhaEsp="ngModel"
          >
            <option *ngFor="let especialidade  of listaEsp" value={{especialidade.id}}>{{especialidade.nome}}</option>
          </select>
      </div>
      <div *ngIf="escolhaEsp?.invalid && escolhaEsp?.touched">
        <app-mensagem-erro mensagem="É necessário escolher qual é a especialidade"></app-mensagem-erro>
      </div>

      <div class="containerInput">
        <label for="dataHora">Data e hora da consulta: </label>
        <input type="datetime-local" name="dataHora" id="dataHora" placeholder="Inserir a data e hora da consulta"
          [(ngModel)]="consulta.dataHora">
      </div>

      <div *ngIf="mensagemErro">
        <app-mensagem-erro mensagem="{{mensagemErro}}"></app-mensagem-erro>
      </div>

      <button class="botaoCadastrar" (click)="atualizarConsulta()"
      [disabled]="escolhaEsp.invalid || escolhaMedico.invalid"
      >Cadastrar consulta</button>
    </div>
  </div>

