<div class="containerCadastroExt">
  <h1 class="tituloPagina">Atualização de consulta</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="idConsulta">ID da consulta: </label>
      <input type="number" name="idConsulta" id="idConsulta" placeholder="Inserir o ID da consulta" disabled
        [(ngModel)]="consulta.id">
    </div>


    <div class="containerInput">
      <label for="idPaciente">CPF e nome do paciente: </label>
      <input type="number" name="text" id="idPaciente" placeholder="{{cpfPaciente}} - {{nomePaciente}}" disabled>
    </div>

      <div class="containerInput">
        <label for="idMedico">Médico: </label>
          <select name="idMedico" id="idMedico" [(ngModel)]="idMedico">
            <option *ngFor="let medico of listaMedico" value={{medico.id}}
            >{{medico.nome}} - {{medico.crm}}</option>
          </select>
      </div>

      <div class="containerInput">
        <label for="idEspecialidade">Especialidade: </label>
          <select name="idEspecialidade" id="idEspecialidade" [(ngModel)]="idEspecialidade">
            <option *ngFor="let especialidade  of listaEsp" value={{especialidade.id}}>{{especialidade.nome}}</option>
          </select>
      </div>

      <div class="containerInput">
        <label for="dataHora">Data e hora da consulta: </label>
        <input type="datetime-local" name="dataHora" id="dataHora" placeholder="Inserir a data e hora da consulta"
          [(ngModel)]="consulta.dataHora">
      </div>

      <button class="botaoCadastrar" (click)="atualizarConsulta()">Cadastrar consulta</button>
    </div>
  </div>

