@import '~normalize.css';

.tituloPagina{
  font-family: "Roboto", sans-serif;
  color: #0A0A0A;
}

.containerLista{
  display: flex;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  gap: 8vh;
  justify-content: center;
  flex-direction: column;
}

.TabelaLista{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #85D4FF;
  color: #4F4F4F;
  font-family: "Roboto", sans-serif;
}

table, td, th {
  border: 2px solid;
}


td{
  text-align: center;
  padding: 2vh 0;
}

.botaoExcluir, .botaoAtualizar, .botaoCadastrar, .botaoPesquisa, .botaoLimpar{
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.botaoExcluir{
  background-color: rgb(255, 0, 0);
  color: #0A0A0A;
  margin-right: 8vh;
}

.botaoAtualizar, .botaoCadastrar, .botaoPesquisa{
  background-color: green;
  color: #0A0A0A;
}

.botaoAtualizar:disabled, .botaoCadastrar:disabled, .botaoPesquisa:disabled{
  opacity: 0.6;
}

.botaoCadastrar{
  margin-top: 2vh;
}

.containerCadastroExt{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.containerCadastro{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 50%;
  padding: 2vw;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #85D4FF;
}

.containerInput{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 7px 10px;
}

input{
  width: 100%
}

.containerBotoesNavegacao{
  padding-top: 40vh;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.BotaoNavegacao{
  background-color: #AFE3FF;
  border: none;
  border-radius: 7px;
  padding: 5vh;
  font-family: "Roboto", sans-serif;
}

main{
  min-height: 100vh;
  max-height: 100%;
  width: auto;
  background-color: #42a3d7;
}

footer{
  margin-top: 0;
  position: relative;
  bottom: 0;
  width: auto;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ContainerErro{
  color: #C20006;
}
