<div class="containerCadastroExt">
  <h1 class="tituloPagina">Cadastro de paciente</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="nome">Nome: </label>
      <input
      type="text"
      name="nome"
      id="nome"
      placeholder="Inserir o nome do paciente"
      [(ngModel)]="paciente.nome"
      ngModel
      required
      #nomeInput="ngModel"
      >
    </div>

    <div *ngIf="nomeInput?.invalid && nomeInput?.touched">
      <app-mensagem-erro mensagem="O nome do paciente deve ser preenchido"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="dataNascimento">Data de nascimento: </label>
      <input
      type="date"
      name="dataNascimento"
      id="dataNascimento"
      placeholder="Inserir a data de nascimento do paciente"
      [(ngModel)]="paciente.dataNascimento"
      ngModel
      required
      #dataNascimentoInput="ngModel"
      >
    </div>

    <div *ngIf="dataNascimentoInput?.touched && dataNascimentoInput?.invalid">
      <app-mensagem-erro mensagem="A data de nascimento deve ser preenchida"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="cpf">CPF: </label>
      <input
      type="text"
      name="cpf"
      id="cpf"
      placeholder="Inserir o CPF do paciente"
      [(ngModel)]="paciente.cpf"
      ngModel
      required
      pattern="^\d{11}$"
      #cpfInput="ngModel"
      >
    </div>

    <div *ngIf="cpfInput?.touched && cpfInput?.invalid">
      <app-mensagem-erro *ngIf="cpfInput?.errors?.['required']" mensagem="O campo de CPF deve ser preenchido"></app-mensagem-erro>
      <app-mensagem-erro *ngIf="cpfInput?.errors?.['pattern']" mensagem="O campo de CPF deve conter 11 digitos númericos"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="sexo">Sexo: </label>
      <select id="sexo" name="sexo" [(ngModel)]="paciente.sexo"
      ngModel
      required
      #escolhaInput="ngModel"
      >
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
    </select>
    </div>

    <div *ngIf="escolhaInput?.touched && escolhaInput?.invalid">
      <app-mensagem-erro mensagem="O sexo do paciente deve ser selecionado"></app-mensagem-erro>
    </div>

    <div class="containerInput">
      <label for="alergias">Alergias: </label>
      <input
      type="text"
      name="alergias"
      id="alergias"
      placeholder="Inserir as alergias do paciente"
      [(ngModel)]="paciente.alergias"
      >
    </div>

    <div class="containerInput">
      <label for="medicamentos">Medicamentos: </label>
      <input
      type="text"
      name="medicamentos"
      id="medicamentos"
      placeholder="Inserir os medicamentos que o paciente faz uso"
      [(ngModel)]="paciente.medicamentos"
      >
    </div>

    <div *ngIf="mensagemErro.length > 0">
      <app-mensagem-erro mensagem="{{mensagemErro}}"></app-mensagem-erro>
    </div>

    <button class="botaoCadastrar" (click)="cadastrarPaciente()"
    [disabled]="escolhaInput?.invalid || nomeInput?.invalid || cpfInput?.invalid || dataNascimentoInput?.invalid"
    >Cadastrar paciente</button>
  </div>
</div>
