<div class="containerCadastroExt">
  <h1 class="tituloPagina">Cadastro de especialidade</h1>

  <div class="containerCadastro">
    <div class="containerInput">
      <label for="nome">Nome: </label>
      <input
      type="text"
      name="nome"
      id="nome"
      placeholder="Inserir o nome da especialidade"
      [(ngModel)]="especialidade.nome"
      ngModel
      required
      #nomeInput="ngModel"
      >
    </div>
    <div *ngIf="nomeInput.touched && nomeInput.invalid">
      <app-mensagem-erro mensagem="É necessário preencher o campo de nome"></app-mensagem-erro>
    </div>

    <div *ngIf="mensagemErro">
      <app-mensagem-erro mensagem="{{mensagemErro}}"></app-mensagem-erro>
    </div>



    <button class="botaoCadastrar" (click)="cadastrarEspecialidade()"
    [disabled]="nomeInput?.invalid"
    >Cadastrar especialidade</button>
  </div>
</div>
